<!DOCTYPE html>
<html>
  <head>
	    <title>M-League</title>
	    <!--<link rel='stylesheet' href='/stylesheets/style.css' />
	    <link rel="icon" href="/images/logo.png"></link>
	    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	    <script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>
	    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script> -->
	    <link rel='stylesheet' href='../public/stylesheets/style.css' />
	    <link rel="icon" href="../public/images/logo.png">
	    <link rel='stylesheet' href='../public/stylesheets/bootstrap.css'>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	    <script type="text/javascript" src="../public/javascripts/jquery-1.9.1.js"></script>
	    <script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
	</head>
	<body>
		<header id="banner" class="body">
		  	<h1><a href="#">Welcome to M-League <i class="fa fa-automobile" style="color:red;"></i></a></h1>
		  	<strong id="time"></strong>	  
		  	
			  	<ul class="nav nav-tabs">
		  			<li class='active'><a href="#home" data-toggle="tab">M-home</a></li>
		  			<li><a href="#menu1" data-toggle="tab">M-blog</a></li>
		  			<li><a href="#menu2" data-toggle="tab">M-Share</a></li>
		  			<li><a href="#menu3" data-toggle="tab">M-View</a></li>
		  		</ul>
		  		  				
		</header>
		<div class='tab-content'>
			<div id="home" class="tab-pane fade in active">
				<section class="body">
				    <aside id="featured">
					    <article>
							<figure>
							    <img src="../public/images/logo.png" alt="M-League"/>
							</figure>
							<hgroup>
							    <h2>Featured Article</h2>
							    <h3><a href="#">M-League</a></h3>
							</hgroup>
							<p>This is a small toy what I designed for fun.</p>
							<p>This is <a href="https://github.com/MichaelMa666" rel="external">my code</a> welcome to visit to me.</p>
						</article>
					</aside><!-- /#featured -->
			    </section >
				<section id="extras" class="body">
					<div class="blogroll">
						<span>blogroll</span>
						<ul>
							<li><a href="#">W3C</a></li>
							<li><a href="#">NodejsSchool</a></li>
							<li><a href="#">HTML5</a></li>
							<li><a href="#">Wiki</a></li>
							<li><a href="#">W3C</a></li>
							<li><a href="#">NodejsSchool</a></li>
							<li><a href="#">HTML5</a></li>
							<li><a href="#">Wiki</a></li>
							<li><a href="#">W3C</a></li>
							<li><a href="#">NodejsSchool</a></li>
							<li><a href="#">HTML5</a></li>
							<li><a href="#">Wiki</a></li>
						</ul>
					</div>
					<div class="social">
						<span>social</span>
						<ul>
							<li><a href="http://facebook.com/MichaelMa666"><i class="fa fa-facebook-official"></i> facebook</a></li>
							<li><a href="http://twitter.com/MichaelMa666"><i class="fa fa-twitter"></i> twitter</a></li>
							<li><a href="http://sina.com/MichaelMa666"><i class="fa fa-weibo"></i> sina</a></li>
							<li><a href="http://qq.com/MichaelMa666"><i class="fa fa-qq"></i> QQ:<m> 458425507</m></a></li>
							<li><a href="http://github.com/MichaelMa666"><i class="fa fa-github-alt"></i> github</a></li>
						</ul>
					</div>
				</section>
				<!-- <footer id="info">
					<span>M-League</span>
					<img src="/images/logo.png">
					<p id='p1'>M-League is designed for punblishing artical or resouces to commiunicate between developers and do some little demo. It was founded by Michael Ma.</p>
					<p id='p2'>2016-2020<a href="localhost:3000">M-League</a></p>					 
				</footer> -->
			</div> 
	    	    
		  	<div id="menu1" class="tab-pane fade">
		  		 <section id='content' class="body">
			    	<ol>
			    		<li>
			    			<article>
			    				<header>
			    					<a href="#" class="art-title">Node.js</a>
			    				</header>
			    				<footer>
			    					<abbr title="2016年10月24日13:57:12">2016-10-24 13:57:12</abbr><address>By<a href="#">Michael Ma</a></address>
			    				</footer>
			    				<div>
			    					About Node.js technology.
			    				</div>
			    			</article>
			    		</li>
			    		<hr>
			    		<li>
			    			<article>
			    				<header>
			    					<a href="#" class="art-title">javaScript</a>
			    				</header>
			    				<footer>
			    					<abbr title="2016年10月24日14:24:13">2016-10-24 14:24:13</abbr><address>By<a href="#">Michael Ma</a></address>
			    				</footer>
			    				<div>
			    					About JavaScript technology.
			    				</div>
			    			</article>
			    		</li>
			    		<hr>
			    		<li>
			    			<article>
			    				<header>
			    					<a href="#" class="art-title">CSS3&HTML5</a>
			    				</header>
			    				<footer>
			    					<abbr title="2016年10月24日14:25:00">2016-10-24 14:25:00</abbr><address>By<a href="#">Michael Ma</a></address>
			    				</footer>
			    				<div>
			    					About CSS3&HTML5 technology.
			    				</div>
			    			</article>
			    		</li>
			    		<hr>
			    		<li>
			    			<article>
			    				<header>
			    					<a href="#" class="art-title">CSS3&HTML5</a>
			    				</header>
			    				<footer>
			    					<abbr title="2016年10月24日14:25:00">2016-10-24 14:25:00</abbr><address>By<a href="#">Michael Ma</a></address>
			    				</footer>
			    				<div>
			    					About CSS3&HTML5 technology.
			    				</div>
			    			</article>
			    		</li>
			    		<hr>
			    		<li>
			    			<article>
			    				<header>
			    					<a href="#" class="art-title">CSS3&HTML5</a>
			    				</header>
			    				<footer>
			    					<abbr title="2016年10月24日14:25:00">2016-10-24 14:25:00</abbr><address>By<a href="#">Michael Ma</a></address>
			    				</footer>
			    				<div>
			    					About CSS3&HTML5 technology.
			    				</div>
			    			</article>
			    		</li>
			    	</ol>
			    </section>		  		
		  	</div>
		  	<div id="menu2" class="tab-pane fade">
		  		<div id="share" class="body">
			  		<nav id='btnheadbar'>
	  					<button type='button' id='add' class='btn btn-success'><i class="fa fa-plus-square"></i> add</button>
			  			<button type='button' id='upload' class='btn btn-primary'><i class="fa fa-cloud-upload"></i> upload</button>
			  			<button type='button' id='upload' class='btn btn-info'><i class="fa fa-cloud-download"></i> download</button>
	  				</nav>		
		  			<div id='filecontainer'>
		  				<ul>
		  					<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
			  				<li class='subcontainer'><p>aaa</p></li>
		  				</ul>
		  			</div>
		  			<nav id='btnfootbar'>
			  			<button type='button' id='upload' class='btn btn-warning'><i class="fa fa-ban"></i> cancle</button>
			  			<button type='button' id='delete' class='btn btn-danger'><i class="fa fa-trash-o"></i> delete</button>
	  				</nav>	
		  		</div>			    	
		  	</div>
		  	<div id="menu3" class="tab-pane fade">
		  		<section id="view" class="body">
		  			<video id='video1' controls="true" poster="/images/logo.png">
		  				<source id='videosrc' src="rabbit.mp4" type="video/mp4">
		  			</video>
		  		</section>
		  	</div>
  		</div>
  		<footer id="info">
			<span>M-League</span>
			<img src="../public/images/logo.png">
			<p id='p1'>M-League is designed for punblishing artical or resouces to commiunicate between developers and do some little demo. It was founded by Michael Ma.</p>
			<p id='p2'>2016-2020<a href="localhost:3000">M-League</a></p>					 
		</footer>
	</body>
	<script type="text/javascript">
		(function getTime(){
			var curTime = new Date();
			$('#time').text(curTime);
			setTimeout(function(){
				getTime();
			},500);
		})();
		
		// var playPause = function(){
		// 	var myVideo = document.getElementById('video1');
		// 	if(myVideo.paused){
		// 		$('#playpause i').attr('class',"fa fa-pause");
		// 		myVideo.play();
		// 	}
		// 	else{
		// 		$('#playpause i').attr('class',"fa fa-play");
		// 		myVideo.pause();
		// 	}				
		// }

	</script>
	<script type="text/javascript">
		(function getFile(){
			$.ajax({
				type: "GET",
				url: "/getVideo",
				data: $('#videosrc').src,
				error: function(xhr){
					console.log("An error occured: " + xhr.status + " " + xhr.statusText)},
				success: function(data){
					console.log(data);
				}
			});
		})();
	</script>
</html>
